<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeLeaf.org">
<head>
  <title>Persons</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="icon"  th:href="@{/images/home.png}">
</head>
<body>
<table class="table">
<thead> 
<tr>
<th>id</th>
<th>name</th>
<th>age</th>
<th>adress</th>
</tr>
</thead>
<tbody>
<tr th:each="p:${person}">
<td th:text="${p.id}"></td>
<td th:text="${p.name}"></td>
<td th:text="${p.age}"></td>
<td th:text="${p.adress}"></td>
</tr>
</tbody>
</table>

</body>
</html>