<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeLeaf.org">
<head>
<title>Persons</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="icon" th:href="@{/images/home.png}">
<style type="text/css">
#student-form{
width: 30%;
margin: auto;
}
</style>
</head>
<body style="padding: 12px">
	<a th:href="@{/students}" class="btn btn-primary">Tələbə siyahısına
		keçid edin</a>
	<hr>

	<form id="student-form" method="post" th:object="${student}" th:action="@{/save-student}">
		<label>Ad:</label>
		 <input class="form-control" th:field="*{name}">
		
		 <br><label>Soyad:</label> 
		<input class="form-control" th:field="*{surname}"> 
		
	
	    <br><label>nömrə:</label>
		<input class="form-control" th:field="*{phone}">
		
		<br><label>ünvan:</label>
		<input class="form-control" th:field="*{address}">
		
		<br><label>email:</label>
		<input class="form-control"  type="email" th:field="*{email}">
		
		<br><label>Təvəllüd:</label>
		<input  class="form-control" type="date" th:field="*{birthday}">
		
		<br> <label>Sektor:</label> 
		<select class="form-control" th:field="*{sector}">
			<option th:value="Azərbaycan">Azərbaycan</option>
			<option th:value="İngilis">İngilis</option>
			<option th:value="Rus">Rus</option>
			<option th:value="Türk">Türk</option>
		</select>

		<hr>

		<input type="submit" value="Yadda saxla" class="btn btn-success">
	</form>


</body>
</html>